<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/static/payment.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
        <label for="chk" aria-hidden="true">Payment</label>
			<div class="Payment">
				<form action="video.html">
                    <label for="amount">El costo del servicio son $10. Ingrese el monto que desea pagar:</label><br>
					<input type="number" id="amount" name="amount" placeholder="Amount ($)" min=10 max=10 required>
					<button>Pay</button>
				</form>
			</div>

	</div>
</body>
</html>