<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/static/video.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
			<div class="video">
                    <label for="video">¡Disfrute su servicio de streaming!</label><br>
                    <div class="center">
                        <video width="600" height="400" controls>
                        <source src="/static/imagenes/rickroll.mp4" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                      Your browser does not support the video tag.
					<button>Pay</button>
                    </div>
                    
                    </div>
			</div>

	</div>
</body>
</html>